body {
    font-family: Courier;
    margin: 0;
    padding: 0;
    color: white;
    background-image: url("https://fastly.picsum.photos/id/460/1540/740.jpg?hmac=DmUAQAKWVU9WfNNPOjU_Q7rD39TU4y3wwq0_TzPYM4c")
  }
  
  .container {
    background-color: rgba(0, 0, 0, 0.75);
  }
  
  .heading {
    text-align: center;
    background-color: rgba(84, 84, 109, 0.75);
    margin: auto;
    width: 60%;
    padding: 5px 30px;
  }
  
  form {
    background-color: rgba(84, 84, 109, 0.75);
    margin: auto;
    width: 60%;
    padding: 30px;
  }
  
  input{
    background-color: rgb(233, 233, 238);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0;
  }
  
  input[type="text"]{
    width: 100%;
  }
  
  input[type="email"]{
    width: 100%;
  }
  
  input[type="number"]{
    width: 100%;
  }
  
  .recommend, .favorite, .describes, .improve {
    padding: 25px 0;
  }
  
  #most-like, #dropdown, #textarea {
    background-color: rgb(233, 233, 238);
    width: 100%;
    border-radius: 4px;
    padding: 10px;
  }
  
  #submit {
    background-color: rgb(21, 200, 21);
    color: black;
    border: none;
    width: 100%;
    height: 3rem;
    margin: 20px auto;
  }